@layer components {
  .root {
    display: inline;
    color: inherit;
    font: inherit;
    white-space: nowrap;
  }

  .sm {
    font: var(--ds-typography-body-sm);
  }

  .md {
    font: var(--ds-typography-body);
  }

  .lg {
    font: var(--ds-typography-body-lg);
  }

  .minor,
  .currency {
    color: inherit;
  }

  .secondaryMinor .minor {
    color: var(--ds-text-secondary);
  }
}
