.ds-scrollbar,
.ds-scrollbar-compact {
  scrollbar-color: var(--ds-scrollbar-thumb) transparent;
  scrollbar-width: thin;
}

.ds-scrollbar::-webkit-scrollbar {
  width: var(--ds-size-scrollbar-default);
  height: var(--ds-size-scrollbar-default);
}

.ds-scrollbar-compact::-webkit-scrollbar {
  width: var(--ds-size-scrollbar-compact);
  height: var(--ds-size-scrollbar-compact);
}

.ds-scrollbar::-webkit-scrollbar-track,
.ds-scrollbar-compact::-webkit-scrollbar-track {
  background: transparent;
}

.ds-scrollbar::-webkit-scrollbar-thumb,
.ds-scrollbar-compact::-webkit-scrollbar-thumb {
  background-color: var(--ds-scrollbar-thumb);
  border-radius: var(--ds-radius-full);
}

.ds-scrollbar::-webkit-scrollbar-thumb:hover,
.ds-scrollbar-compact::-webkit-scrollbar-thumb:hover {
  background-color: var(--ds-scrollbar-thumb-hover);
}

.ds-scrollbar::-webkit-scrollbar-button,
.ds-scrollbar-compact::-webkit-scrollbar-button {
  display: none;
}

@media (forced-colors: active) {
  .ds-scrollbar,
  .ds-scrollbar-compact {
    scrollbar-color: auto;
  }
}

