.root:disabled {
  color: var(--ds-text-disabled);
  background-color: var(--ds-control-background-disabled);
  border-color: var(--ds-border-subtle);
  cursor: not-allowed;
}

.loading {
  cursor: progress;
}

.loadingContent {
  opacity: 0;
}

.spinner {
  position: absolute;
}
